body {
    font-family: Arial, sans-serif; 
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #333;
    color: #333;
}

body div {
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}
.invisible {
    visibility:hidden;
}

/* ALL SECTIONS */ 
.section {  
    width: 100%;
    position: relative;
    padding-top: 4%;
}
.main-section {
    background-color: aliceblue;
    width: 100%;
    flex-direction: row;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), /* Top shadow */
              0 4px 8px rgba(0, 0, 0, 0.1);
}
.fill-container {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}
.big-shadow {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.22); 
}
.small-shadow {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12); 
}

/* LANDING SECTION */
#left-landing {
    width: 34%;
}
#right-landing {
    width: 66%;
}
#introduction {
    padding: 10%;
    flex-direction: column;
}
#introduction name {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
#introduction description {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
#introduction navigation {
    background-color: #fe7107;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#introduction a {
    padding: 3%;
    font-size: larger;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-link-hover {
    background-color: #d45e03;
    cursor: pointer;
}

#link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.links {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    overflow: hidden;
    padding: 10px;
}
.links svg {
    width: 3rem;
    height: 3rem;
}
#linkedin-button {
    fill: #0A66C2;
}
#github-button {
    fill: #181717;
}
#gmail-button {
    fill: #EA4335;
}
.link-button-hover {
    box-shadow: 0px 0px 2px 1px rgba(8, 8, 0, 0.5);
}

/* ABOUT SECTION */
#about-section .title {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#about-section .text-container {
    padding: 5%;
    flex-direction: column;
    height: 100%;
}

#about-main-text {
    width: 60%;
    padding: 2%;
}

#photos {
    width: 40%;
    height: 100%;
    flex-direction: column;
    background-color: #fe7107;
}


/* SKILLS SECTION */
#skills-section-main {
    padding: 2%;
}
#skills-graph-section {
    width: 40%;
    height: 100%;
}
#skills-container {
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
#skills-container-header {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
#skills {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    padding: 5%;
    gap: .1rem;
    border-radius: .5rem;
}
.bar-graph {
    width: 100%;
    height: 4rem;
    background-color: #333;
    position: relative;
}
.bar-graph .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    z-index: 10;
}
.total-skill {
    background-color: #fe7107;
    height: 100%;
    box-sizing: border-box;
}
#cpp {
    width: 90%;
}
#python {
    width: 80%;
}
#html {
    width: 70%;
}
#javascript {
    width: 70%;
}
#typescript {
    width: 60%;
}
#skill-explanation-container {
    height: 100%;
    width: 60%;
    flex-direction: column;
    margin-left: 2%;
    padding: 2%;
}
#skill-explanation {
    width: 100%;
}
#skill-header {
    background-color: #fe7107;
    width: 50%; 
    height: fit-content;
    padding: 1%;
    font-size: 1.5rem;
    color: aliceblue;
}
.skill-selected {
    background-color: #d45e03;
    cursor: pointer;
}
.no-skill {
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* PROJECT SECTION */
#project-section-main {
    flex-direction: column;
    align-items: center;
}
#project-section #header {
    padding: 4%;
    font-size: 3rem;
}
#projects-container {
    width: 100%;
    padding: 4%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;
}
.project {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fe7107;
    border-radius: 1rem;
}
#projects-container name {
    font-size: 2rem;
    padding: 3%;
}
#projects-container a {
    padding: 1rem;
    padding-top: 0;
}
