body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body * {
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 0 .2em;
    font-size: 4em;
}
h2 {
    width: 100%;
    font-size: 2em;
    align-items: center;
    justify-content: center;
}
h3 {
    width: 100%;
    font-size: .95em;
}
.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 500%;
}
nav button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #555;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    justify-content: center;
    align-items: center;
}
nav button:hover {
    background-color: #777;
}
.default-position {
    bottom: 5vh;
    left: 52.5vw;
}
.other-position {
    bottom: 2.5vh;
    left: 35vw;
}


section {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    font-size: 2em;
    box-sizing: border-box;
    background-color: #2196F3;
}
#page1 .left-container {
    width: 35vw;
    height: 100%;
    background-color: #333;
    flex-direction: column;
    justify-content: flex-end;
}
#page1 #introduction-container {
    flex-direction: column;
}
#page1 .right-container {
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    padding: 1em 1em 5em 1em;
}
#page1 h3 {
    padding: 1em 0;
}
#page1 .link-container {
    width: fit-content;
    height: fit-content;
    padding: .2em;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: .2em;
    background-color: white;
}
#page1 .links {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#page1 .top-section {
    flex-direction: row;
    width: 100%;
    padding: 1em 0;
}
#page1 .bottom-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    position: fixed;
    width: 32vw;
    background: #333;
    color: white;
    text-align: center;
    padding: 1em .3em;
    z-index: 1000;
    border-radius: 1em;
    transition: transform 0.5s ease-in-out;
}
ion-icon {
    color: #333;
    font-size: 2em;
}
ion-icon[name="logo-linkedin"] {
    color: #0077B5;
}
ion-icon[name="logo-github"] {
    color: #2b3137;
}
ion-icon[name="logo-instagram"] {
    color: #8134AF;
}
#page2 {
    padding: 1em 1.5em 4em 1.5em;
    background-color: #2196F3;
    color: white;
}
#page2 h2 {
    padding: .4em 0;
}
#page2 .main-container {
    flex-direction: column;
    background-color: #333;
}
#page2 .projects-container {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: .6em;
    padding: 0 2em 1em 2em;
}
#page2 .project {
    border-radius: .6em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;
    padding: .6em;
}
#page2 .top-container {
    padding-bottom: .4em;
    gap: 1em;
}
#page2 button {
    background-color: #555;
    border: none;
    color: white;
    cursor: pointer;
    font-size: .6em;
    justify-content: center;
    align-items: center;
    padding: .4em 1em;
}
#page2 button:hover {
    background-color: #777;
}
.project p {
    font-size: .7em;
}