#contact {
    background-color: var(--quaternary);
}
#contact .contact-body {
    display:flex;
    flex-direction: row;
    width: fit-content;
    gap: 2rem;
}
#contact #left {
    display:flex;
    flex-direction: row;
    width:fit-content;
}
#contact .contact-body a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: none;
    cursor: pointer;
    padding: .4rem 1rem;
    transition: background-color 0.2s;
    font-size: var(--fs-medium);
}
#contact .contact-body a:hover {
    transform: scale(105%);
    transition: transform 0.3s ease;    
}