#experience {
    background-color: var(--tertiary);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}
#experience .experience-container{
    display:flex;
    flex-direction: column;
    width: 85%;
    height: 65vh;
    color: black;
    gap:1rem;
}
#experience .top {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 35vh;
    gap: 1rem;
}
#experience .experience {
    width: 100%;
    background-color: rgb(209, 232, 252);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    font-size: 1.2rem;
}
#experience .experience:hover {
    transform: scale(102%);
}
#experience .bottom {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 35vh;
    gap: 1rem;
    justify-content: center;
}
#experience .bottom .experience {
    width:30vw;
}
#experience h3 {
    font-size:1.5rem;
}
#experience a {
    color:black;
    text-decoration:none;
    width: 20%;
    padding:.7rem;
    background-color: rgb(131, 131, 199);
}