:root {
    --primary: #016394    ;
    --secondary: #32965D   ;
    --tertiary: #277380      ;  
    --quaternary: #4A99E8   ;
    --white: rgb(209, 232, 252);
    --black: #222222;
    --fs-small: 0.5rem;
    --fs-regular: .7rem;
    --fs-medium: 1.2rem;
    --fs-large: 2.5rem;
    --fs-xlarge: 3.4rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    :root {
        --fs-small: 0.9rem;
        --fs-regular: 1.2rem;
        --fs-medium: 1.5rem;
        --fs-large: 3rem;
        --fs-xlarge: 4rem;
    }
}

body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    background-color: var(--black);
    color: var(--black);
}

h1 {
    margin: 0;
    padding: 0 1rem;
    font-size: var(--fs-xlarge);
}
h2 {
    width: 100%;
    font-size: var(--fs-large);
    align-items: center;
    justify-content: center;
}
.page .heading {
    text-align: center;
    margin: 2%;
}
h3 {
    width: 100%;
    font-size: var(--fs-medium);
    justify-content: center;
}

.navBar {
    position: absolute;
    top: 1rem;
    left: 50%;
    height: 4rem;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    justify-content: space-around;
    background-color: none;
    gap:none;
    color: var(--white);
}
.navBar .nav-button {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: var(--fs-small);
  }
.navBar .nav-button:hover {
  transform: scale(110%);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.navBar .nav-button.active {
  transform: scale(110%);
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}
.navBar .nav-button:hover:not(.active) + .nav-button.active {
    transform: none;
    box-shadow: none;
  }
.navBar .nav-button {
    width:100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-weight:bold;
    text-align: center;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}
#nav-1 {
    border-radius: 1rem 0 0 1rem;
    background-color: var(--primary);
}
#nav-2 {
    background-color: var(--secondary);
}
#nav-3 {
    background-color: var(--tertiary);
}
#nav-4 {
    border-radius: 0 1rem 1rem 0;
    background-color: var(--quaternary);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 100vw);
    grid-template-rows: repeat(2, 100vh);
    width: 200vw;
    height: 200vh;
    transition: transform 1s ease;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}

.link-container {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    flex-direction: column;
    position: fixed;
    z-index: 10;
    display: flex;
    padding: .2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: .2rem;
    background-color: var(--white);
}
.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
ion-icon {
    font-size: var(--fs-xlarge);
}
ion-icon[name="logo-linkedin"] {
    color: #0077B5;
}
ion-icon[name="logo-github"] {
    color: #2b3137;
}
ion-icon[name="logo-instagram"] {
    color: #8134AF;
}