.contact-container {
    min-height: 80vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2%;
}

.contact-container .white-box {
    background-color: rgb(54, 206, 100);
    color: black;
}

.contact-body {
    display:flex;
    flex-direction: row;
    padding: 2rem;
    width: 25vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
}

.contact-container p {
    font-size: 1.5rem;
    display:flex;
    flex-direction: row;
    width:fit-content;
    gap: 20px;
    width: 50%;
}

.contact-body a {
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 12px 32px;
    transition: transform 0.2s;
    font-size: 0.85rem;
    width: 50%;
    border-radius: 500px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.contact-body a:hover {
    transform: scale(105%);
    transition: transform 0.3s ease;    
}

@media screen and (max-width: 768px) {
    .contact-body {
        width: 90%;
        height: auto;
        flex-direction: column;
        gap: 1.5rem;
    }

    .contact-container p {
        width: 100%;
        justify-content: center;
        font-size: 1.2rem;
    }

    .contact-body a {
        width: 100%;
    }
}