.experiences-container {
    padding: 2%;
}

.experiences-container .white-box {
    background-color: rgb(189, 67, 67);
    color: black;
}

.experiences-container a {
    display: inline-block;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 12px 32px;
    transition: transform 0.2s;
    font-size: 0.85rem;
    border-radius: 500px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
  
.experiences-container a:hover {
    transform: scale(105%);
    transition: transform 0.3s ease;    
}