.projects-container {
    padding: 2%;
}

.projects-container .white-box {
    background-color: #2da3df;
    color: black;
}

.project {
    flex-direction: column;
    justify-content: center;
}
.project a {
    display: inline-block;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 12px 32px;
    transition: transform 0.2s;
    font-size: 0.85rem;
    border-radius: 500px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
}
  
.project a:hover {
    transform: scale(105%);
    transition: transform 0.3s ease;    
}
.project p {
    font-size: var(--fs-regular);
}

.project-name {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0.4rem;
}

@media screen and (max-width: 600px) {
    .project a {
        padding: 10px 20px;
    }
}