.projects-container {
    padding: 2%;
}

.projects-container .white-box {
    background-color: #2da3df;
    color: black;
}

.project {
    flex-direction: column;
    justify-content: center;
}
.top-container {
    display: flex;
    flex-direction: rows;
    padding-bottom: .4rem;
    gap: 1rem;
}
.project .top-container div {
    width: 50%;
    text-align: center;
}   
.project a {
    display: inline-block;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 12px 32px;
    transition: transform 0.2s;
    font-size: 0.85rem;
    border-radius: 500px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
  
.project a:hover {
    transform: scale(105%);
    transition: transform 0.3s ease;    
}
.project p {
    font-size: var(--fs-regular);
}

.project-name {
    font-size: 1.5rem;
    font-weight: 800;
}